body {
    margin: 0;
}

/* 清除默认样式 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
div,
span,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
input,
textarea,
legend {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    outline: none;
    font-size: 14px;
    //color:#ff0000;
    //color:#FF7B00;
    //color:#FFE500;
    //color:#00FFE5;
}

/* iframe基础样式清除 */
iframe {
    border: none;
    overflow: hidden;
}
